@use 'variaveis' as v;
@use 'mixins' as m;

// Layout principal
.container {
  max-width: v.$largura-conteudo;
  margin: 0 auto;
  padding: 0 v.$spacing-md;
}

.section {
  padding: v.$spacing-xl 0;

  &--padded {
    padding: v.$spacing-xl 0;
  }

  &--bg-light {
    background-color: v.$bg-light;
  }

  &__title {
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: v.$spacing-xl;
    color: v.$cor-secundaria;
  }
}